.container {
  width: 100px;
  height: 100px;
  position: relative;

  .box {
    margin: 15px;
    width: 70px;
    height: 70px;
    background-color: yellow;
    border-radius: 10px;
    border: solid white;
  }
}
